#head{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 100px;
    border: 5px solid tan;
    text-align: center ;
    overflow: hidden;
    background-color: cadetblue;
    font-family: 微软雅黑 ;
    font-style: normal;
}
#page{
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 1000px;
    height: 518px;
    border: 5px solid #d4cbd1;
    overflow: hidden;
    background-color: white;
    font-family: 新宋体;
}
#show1{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 1000px;
    height: 320px;
    border-bottom: 5px solid #d4cbd1;
    overflow: hidden;
    font-size: 60px;
    font-style: normal;
    display: flex;
    justify-content:center;
    align-items:Center;
}
#input1{
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 330px;
    width: 500px;
    height: 198px;
    overflow: hidden;
    border-right: 5px solid #d4cbd1;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items:Center;
}
#action1{
    z-index: 0;
    position: absolute;
    left: 500px;
    top: 330px;
    width: 500px;
    height: 198px;
    overflow: hidden;
    border-right: 5px solid #d4cbd1;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items:Center;
}
button{
    position: absolute;
    width: 180px;
    height: 60px;
    font-size: 30px;
    font-family: 新宋体;
}